html, body {
  margin: 0;
  background: red;
}

.snow-container {
  box-sizing: border-box;
  padding-top: 50px;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.options {
  transition: opacity 1s;
  opacity: 0;
  position: absolute;
  top: 10%;
  right: 10%;
}

button:first-child, button:last-child {
  display: block;
  margin: 0 auto;
}

.snowflake {
  position: absolute;
  background: white;
  height: 8px;
  width: 8px;
  border-radius: 50%;
}

p {
  margin: 0;
  text-align: center;
  line-height: 2;
  color: white;
  letter-spacing: 1px;
}

.grinch {
  opacity: 0;
}
