body {
  margin: 0;
}

.pokemons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100vh;
}

.pokemon {
  flex: 1;
  background-repeat: no-repeat;
  transition: flex 0.5s cubic-bezier(1,-0.5, 0, 1.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.zoom-in {
  flex: 4;
  transition: flex 0.5s cubic-bezier(1,-0.5, 0, 1.5);
}

.pokemon:nth-child(odd) {
  background-color: red;
}
.pokemon:nth-child(even) {
  background-color: yellow;
}
.pokemon:first-child {
  background-image: url("images/pikachu.png");
  background-position: 20% center;
}
.pokemon:nth-child(2) {
  background-image: url("images/charizard.png");
  background-position: 45% center;
}
.pokemon:nth-child(3) {
  background-image: url("images/psyduck.png");
  background-size: auto 80%;
  background-position: 40% center;
}
.pokemon:nth-child(4) {
  background-image: url("images/bulbasaur.png");
  background-size: auto 70%;
  background-position: 35% center;
}
.pokemon:last-child {
  background-image: url("images/snorlax.png");
  background-size: auto 70%;
  background-position: 45% center;
}
.pokemon p:first-child, .pokemon p:last-child {
  position: absolute;
}
.pokemon p:first-child {
  transition: top .5s cubic-bezier(1,-0.5, 0, 1.5);
  top: -15%;
}
.pokemon p:last-child {
  transition: bottom .5s cubic-bezier(1,-0.5, 0, 1.5);
  bottom: -15%;
}
.pokemon p:nth-child(2) {
  font-size: 1.2em;
  transition: font-size 0.5s cubic-bezier(1,-0.5, 0, 1.5);
}
.make-bigger {
  font-size: 1.6em !important;
  transition: font-size 0.5s cubic-bezier(1,-0.5, 0, 1.5);
}
.drop-down {
  top: 10% !important;
  transition: top .5s cubic-bezier(1,-0.5, 0, 1.5);
}
.drop-up {
  bottom: 10% !important;
  transition: bottom .5s cubic-bezier(1,-0.5, 0, 1.5);
}
