html { padding: 5%; }
body { font-size: 20px; }
ul { display: inline-block; }
li { font-size: 1em; }
span { font-size: .8em; }
button {
  background-color: grey;
  color: white;
  font-weight: 300;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}

@media (max-device-width: 450px) {
  body { font-size: 40px; }
  button {font-size: .8em; }
}
